@import "../Components/var.scss";

.email_notify {
    text-align: center;
    margin: 20px 0px 100px 0px;
  }
  
  .email_notify input {
    padding: 15px;
    border: none;
    margin-right: -1px;
    width: 25%;
    @media (min-width:$medMobile) and (max-width:$tablet-1){
      padding: 5px;
      font-size: 10px;
      width: 40%;
    }
    @media (min-width:$tablet) and (max-width:$laptop-1){
      padding: 10px;
      font-size: 15px;
    }
  }
  
  .email_notify input:focus {
    outline: 0px;
    border-inline: 2px;
    border-inline-color: $matching-color;
  }
  
  .email_notify button {
    padding: 15px;
    border: none;
    background-color: $matching-color;
    cursor: pointer;
    @media (min-width:$medMobile) and (max-width:$tablet-1){
      padding: 5px;
      font-size: 10px;
    }
    @media (min-width:$tablet) and (max-width:$laptop-1){
      padding: 10px;
      font-size: 15px;
    }
  }
  
  .email_notify button:hover {
    background-color: rgb(180, 153, 0);
  }