@import "../Components/var.scss";

  .cr-info {
    background-color: $footerBackground;
    color: $small-color;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .copyright-text {
    padding: 15px;
    font-size:16px;
    margin: 0px;
    @media (min-width:$medMobile) and (max-width:$tablet-1){
      font-size: 8px;
    }
    @media (min-width:$tablet) and (max-width:$laptop-1){
      font-size: 12px;
    }

  }

  .copyright-text a {
    color: $matching-color;
    text-decoration: none
  }