@import "../../Components/var.scss";

.navbar {
    background-color: rgba(39, 39, 39, 0.5);
    padding: 0px !important;
}

.navbar .row {
    width: 100%;
}
.navbar .col {
    display: flex;
    align-items: center;
}

.navbar .col-logo {
    justify-content: flex-start;
    font-weight: 700;
}

.navbar .logo {
    margin: 0px;
    font-size: 40px;
    @media (min-width:$medMobile) and (max-width:$tablet-1){
        font-size: 20px;
    }
    @media (min-width:$tablet) and (max-width:$laptop-1){
        font-size: 30px;
    }
    
}

.navbar .col-links {
    justify-content: flex-end;
}

.navbar ul{
    display: flex;
    margin: 0px;
    padding-left: 0px;
    
}

.navbar ul .navlinks {
    font-size: 25px;
    @media (min-width:$medMobile) and (max-width:$tablet-1){
        font-size: 15px;
      }
      @media (min-width:$tablet) and (max-width:$laptop-1){
        font-size: 20px;
      }
}

.navbar .container .row a {
    color: $main-color;
    text-decoration: none;
}

.navbar ul .navlinks:hover {
    color: $matching-color;
    font-weight: 700;
}